@charset "UTF-8";


body{
    background-color: rgb(181, 226, 241);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1
{
    color: dodgerblue;
    background-color: blanchedalmond;
}
h2{
    color: rgb(225, 226, 168);
    background-color: darkred;
}
h4{
    color: rgb(225, 226, 168);
    background-color: darkred;
}
h4{
    color: rgb(225, 226, 168);
    background-color: darkred;
}

p{
text-align: justify;    
}